* {

margin: 0%;
padding: 0px;

}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover , nav li:hover {
    background-color: brown;
}

nav a:visited {
    background-color: beige;
}

footer ul {
    list-style: none;
    padding: 40px;
    background-color: black;
    color: gray;
    text-align: left;
}

article {
    padding: 50px;

}

img {
    border-radius: 50%;
}

article p {

    margin: 20px;
}

section div {
    display: flex;
    margin-top: 20px;
}

section p {
    margin-left: 20px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    list-style: none;
    justify-content: right;
}

nav li {
    margin: 5px;
    padding: 10px;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
}

main {
    width: 60%;
    margin-left: 20%;
    background-color: aliceblue;
}

section {
    background-color: white;
    margin: 10px;
    padding: 10px;
}
header > h1 { 
    text-align: center;
}

@media only screen and (max-width: 768px) {
    main {
        width: 100%;
        margin-left: 0px;
      background-color: darkblue;
    }

    header h1 {
        font-size: medium;
        color: white;
    }
  }
