button {
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    border: 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .btGroup > button {
    background-color: green;
  }
  
  
  #bt3 {
    background-color: blueviolet;
  }
  
  button:hover, #btArea2 > button:hover {
    background-color: brown;
    color: white;
    cursor: pointer;
  }
  
  .btGroup {
    background-color: antiquewhite;
  }
  
  h2 {
    font-size: medium;
    color: blue;
  }