img {
  display: inline-flex;
  margin: 10px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

button {
    height: 40px;
    width: 40px;
    background-color: dodgerblue;
    color: white;
    border: 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
  }

  button:hover {
    background-color: olive;
    cursor: pointer;
  }